.container {
    max-width: 77rem;
    width: 90vw;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    height: 2rem;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.2s ease-in-out;
    &:hover {
        filter: brightness(0.8);
    }
}

.logo {
    height: 100%;
}

.menus {
    display: flex;
    gap: 1rem;
}

.main {
    flex-grow: 1;
}

.footer {
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.legal {
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    gap: 1.5rem;
}

.policy {
    display: flex;
    gap: 1.5rem;
    a {
        transition: all 0.25s ease-in-out;
        &:hover {
            color: #fff;
        }
    }
}

.social {
    display: flex;
    gap: 1.5rem;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
    a {
        transition: all 0.25s ease-in-out;
        &:hover {
            color: #fff;
        }
    }
}
